@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <h1 class="display-4">Welcome to Shop Essentials</h1>
               <h2>Point of Sale Redefined </h2>
            </div>
        </div>
        <div class="col-md-8">
            <img src="~/images/natalie-rhea-riggs-359448-unsplash.jpg" style="height:auto; width: 700px;" />


        </div>

    </div>
</div>

