 <!-- Sidebar -->
<div class="bg-primary border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-white">Start</div>
    <div class="list-group list-group-flush">
        <a class="nav-link text-white" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>

        <a class="nav-link text-white" asp-area="" asp-controller="Categories" asp-action="Index">Category</a>

        <a class="nav-link text-white" asp-area="" asp-controller="Products" asp-action="Index">Products</a>

        <a class="nav-link text-white" asp-area="" asp-controller="Sales" asp-action="Index">Make Sales</a>

        <a class="nav-link text-white" asp-area="" asp-controller="SalesOutputs" asp-action="Index">Sales Outputs</a>

        <a class="nav-link text-white" asp-area="" asp-controller="Staffs" asp-action="Index">Staffs</a>

        <a class="nav-link text-dark" asp-area="" asp-controller="Stores" asp-action="Index">My Store</a>

        <!--ref="#" class="list-group-item list-group-item-action bg-primary text-white">Dashboard</>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Shortcuts</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary text-white">Status</a>-->
    </div>
</div>
<!-- /#sidebar-wrapper -->
<!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3 fixed-left">
    <div class="container">
        <a class="navbar-brand text-white" asp-area="" asp-controller="DashBoard" asp-action="Index">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Categories" asp-action="Index">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Sales" asp-action="Index">Make Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="SalesOutputs" asp-action="Index">Sales Outputs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Staffs" asp-action="Index">Staffs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Stores" asp-action="Index">My Store</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>-->
